<a href="https://colab.research.google.com/github/dilaraesmer/Introduction-to-python/blob/main/Data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
shopping_list = ["Apple", "Juice", "Ball", "Book"]

In [7]:
shopping_list.append("Water")
print(shopping_list)

['Apple', 'Juice', 'Ball', 'Book', 'Water']

In [8]:
shopping_list.insert(2, "Banana")
print(shopping_list)

['Apple', 'Juice', 'Banana', 'Ball', 'Book', 'Water']

In [9]:
shopping_list.remove("Apple")
print(shopping_list)

['Juice', 'Banana', 'Ball', 'Book', 'Water']

In [11]:
shopping_list[3] = 'Strawberry'
print(shopping_list)

['Juice', 'Banana', 'Ball', 'Strawberry', 'Water']

In [12]:
number_list = [1,2,3,4,5]

In [13]:
square_list = []

In [14]:
for num in number_list:
  square_list.append(num**2)

In [15]:
print(square_list)

[1, 4, 9, 16, 25]

In [17]:
number_list = [1,2,3,4,5]
square_list = [num**2 for num in number_list]

print(square_list)

[1, 4, 9, 16, 25]

Tuples

In [18]:
shopping_list = ("Apple", "Juice", "Ball", "Book")

In [19]:
item1, item2, item3, item4 = shopping_list
print(item1)
print(item2)
print(item3)
print(item4)

Apple
Juice
Ball
Book

In [20]:
print(shopping_list[3])

Book

In [21]:
print(shopping_list[1:3])

('Juice', 'Ball')

In [23]:
# ERROR
shopping_list[2] = "Pencil"
# tuple object does not support item assignment

TypeError: ignored