<a href="https://colab.research.google.com/github/dilaraesmer/Introduction-to-python/blob/main/Data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
shopping_list = ["Apple", "Juice", "Ball", "Book"]

In [2]:
shopping_list.append("Water")
print(shopping_list)

['Apple', 'Juice', 'Ball', 'Book', 'Water']

In [3]:
shopping_list.insert(2, "Banana")
print(shopping_list)

['Apple', 'Juice', 'Banana', 'Ball', 'Book', 'Water']

In [4]:
shopping_list.remove("Apple")
print(shopping_list)

['Juice', 'Banana', 'Ball', 'Book', 'Water']

In [5]:
shopping_list[3] = 'Strawberry'
print(shopping_list)

['Juice', 'Banana', 'Ball', 'Strawberry', 'Water']

In [6]:
number_list = [1,2,3,4,5]

In [7]:
square_list = []

In [8]:
for num in number_list:
  square_list.append(num**2)

In [9]:
print(square_list)

[1, 4, 9, 16, 25]

In [10]:
number_list = [1,2,3,4,5]
square_list = [num**2 for num in number_list]

print(square_list)

[1, 4, 9, 16, 25]

Tuples

In [11]:
shopping_list = ("Apple", "Juice", "Ball", "Book")

In [12]:
item1, item2, item3, item4 = shopping_list
print(item1)
print(item2)
print(item3)
print(item4)

Apple
Juice
Ball
Book

In [13]:
print(shopping_list[3])

Book

In [14]:
print(shopping_list[1:3])

('Juice', 'Ball')

In [15]:
# ERROR
shopping_list[2] = "Pencil"
# tuple object does not support item assignment

TypeError: ignored

In [19]:
expenses = {'Apple' : 23 , 'Banana': 36, 'Walnut': 70, 'Books': 200}
print(expenses)

{'Apple': 23, 'Banana': 36, 'Walnut': 70, 'Books': 200}

In [20]:
print(expenses["Books"])

200

In [21]:
inventory = dict()
inventory['bananas'] = 25
inventory['apples'] = 102
inventory['oranges'] = 54
inventory['watermelons'] = 4

In [22]:
print(inventory)

{'bananas': 25, 'apples': 102, 'oranges': 54, 'watermelons': 4}

In [24]:
for element in inventory:
  print(element)

bananas
apples
oranges
watermelons