<a href="https://colab.research.google.com/github/dilaraesmer/Introduction-to-python/blob/main/python_syntax_essentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fav_number = 38
if fav_number < 40: 
 print("my favourite number is smaller than 40")

my favourite number is smaller than 40

In [2]:
a = 59 
if a < 60:
  a = a + 1
print("")

In [4]:
def greeting(name):
  print('Hello '+ name)
greeting('Dilara')

Hello Dilara

In [5]:
def greetings(name):
  print(f'Hello , {name}')
greetings('Dilara')

Hello , Dilara

In [3]:
name = 'Deniz'
type(name)

str

In [7]:
age = 38

In [8]:
print(age)

38

In [9]:
print(type(name))

<class 'str'>

In [10]:
print(type(age))

<class 'int'>

In [12]:
store_items = ['Apple', 1.49, 'Banana', 6, 'Milk', 10, 'Cheese', 34]
print(store_items, type(store_items))

['Apple', 1.49, 'Banana', 6, 'Milk', 10, 'Cheese', 34] <class 'list'>

In [15]:
print(store_items[6])

Cheese

In [16]:
print(store_items[0:4])

['Apple', 1.49, 'Banana', 6]

In [18]:
print(store_items[2:])

['Banana', 6, 'Milk', 10, 'Cheese', 34]

In [21]:
store_items[2] = 'Chocolate'
print(store_items)

['Apple', 1.49, 'Chocolate', 6, 'Milk', 10, 'Cheese', 34]

In [22]:
age = 24
print(age, type(age))

24 <class 'int'>

In [23]:
age = 24
age += 15
print(age, type(age))

39 <class 'int'>

In [24]:
age = '24'
print(age, type(age))

24 <class 'str'>

In [26]:
print('Hi, this is Python !')

Hi, this is Python !

In [28]:
name = input('Name: ')
print('Greetings', name)

Name: dilara
Greetings dilara

In [36]:
number = int(input('Number: '))
print(number + 10)

Number: 40
50

In [37]:
import math

In [38]:
floor_number = (math.floor(5.89))

print(floor_number, type(floor_number))

5 <class 'int'>

In [40]:
import datetime

print(datetime.datetime.now())

2023-01-09 23:31:34.906947

In [42]:
import random 
print(random.randint(7,39))

15

In [48]:
print("2 + 3 = ", 2+3)
print("2 - 3 = ", 2-3)
print("2 / 3 = ", 2/3)
print("2 * 3 = ", 2*3)
print("2 ** 3 = ", 2**3)
print("2 // 3 = ", 2//3)

2 + 3 =  5
2 - 3 =  -1
2 / 3 =  0.6666666666666666
2 * 3 =  6
2 ** 3 =  8
2 // 3 =  0

In [49]:
x = 8 # equivalent to x = 5
x += 8 # equivalent to x = x + 8
x -= 8 # equivalent to x = x - 8
x *= 8 # equivalent to x = x * 8
x /= 8 # equivalent to x = x / 8

In [60]:
number1 = 20
number2 = 35

print(number1, "<", number2, "=", number1 < number2)
print(number1, ">", number2, "=", number1 > number2)
print(number1, "==", number2, "=", number1 == number2)
print(number1, "<=", number2, "=", number1 <= number2)
print(number1, ">=", number2, "=", number1 >= number2)
print(number1, "!=", number2, "=", number1 != number2)

20 < 35 = True
20 > 35 = False
20 == 35 = False
20 <= 35 = True
20 >= 35 = False
20 != 35 = True

In [62]:
celsius = 27
if celsius > 20:
  print('GOOD ☀️')

GOOD ☀️

In [66]:
drivers_licence = True
age = 17

if age > 17:
  if drivers_licence:
    print('You can drive car')
  else:
      print('You need to go to a drivers licence course')
else:
      print('You need to get older')

You need to get older